* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--font-sans);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans);
}

.main-content {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  font-weight: var(--font-weight-medium);
}
